/*===== base =====*/

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.banner {
    background-image: url('figs/header.JPG');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column; /* Cambiado a columna para alinear verticalmente */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    position: relative;
}

.banner h1 {
    margin: 0;
    padding-top: 20px; /* Espacio sobre el título si es necesario */
    text-align: center; /* Asegura que el título esté centrado */
}

.navigation {
    position: absolute;
    top: 10px; /* Ajusta a la parte superior del banner */
    right: 30px; /* Ajusta a la derecha del banner */
    height: auto;
    width: auto;
    display: flex;
    align-items: center; /* Alinea los enlaces verticalmente en el centro */
}

.navigation a {
    font-size: 14px;
    color: #fff;
    margin-left: 25px; /* Espacio entre enlaces */
    text-decoration: none;
}

@media (max-width: 768px) {
    .banner {
        height: 150px; /* Altura auto para acomodar contenido en menos espacio */
        padding: 20px 0; /* Agrega algo de padding vertical */
    }
    .navigation {
        position: static; /* Los enlaces vuelven a fluir normalmente */
        width: 100%; /* Ocupa todo el ancho */
        justify-content: center; /* Centra los enlaces horizontalmente */
        margin-bottom: 20px; /* Espacio antes del título */

    }
    .navigation a {
        font-size: 12px;
    }
    
    .banner h1 {
        font-size: 36px; /* Reduce el tamaño del título para pantallas pequeñas */
    }
}


/* SORT, PAGINATION AND SEARCH */

.sort-pagination-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.sorting {
    display: flex;
    align-items: center;
    font-size: 16px;

}

.sorting label  {
    margin-right: 10px;
}

.search-container {
    padding: 20px 25px;
    background-color: white;
    width: 35%;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}

#searchBox {
    width: 90%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .sort-pagination-container {
        flex-direction: column; /* Cambia a disposición en columna en pantallas pequeñas */
    }

    .sorting, .search-container {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}

/* index */

.description {
    padding: 20px;
    background: #f0f0f0;
    justify-content: center;
    /* font-family: "Roboto", sans-serif; */
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
}

.section-item {
    text-align: center; /* Centra el texto bajo la imagen */
    cursor: pointer;
    
    
}
.section-item img {
    width: 250px;
    height: 400px;
    align-items: center;
    /* border: 1px solid rgba(51, 52, 52, 0.742); */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.272);
}
.section-item img:hover {
    opacity: 0.5;
}
.section-name {
    margin-top: 5px; /* Espacio entre la imagen y el texto */
    font-size: 24px; /* Tamaño del texto */
    font-weight: bold;
}
/* CATALOG */
.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 25px;

}
.plant {
    height: 350px; /* Alto fijo para el contenedor de la planta */
    width: 260px; /* Ancho fijo para el contenedor de la planta */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.plant_box {
    margin-top:5px;
    height: 300px; /* Alto fijo para el contenedor de la planta */
    width: 250px; /* Ancho fijo para el contenedor de la planta */
    overflow: hidden; /* Ocultar cualquier parte de la imagen que exceda el contenedor */
    position: relative;
}
.plant_box a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.icon-overlay {
    position: absolute;
    width: 35px; /* Ancho fijo para el contenedor de la planta */
    top: 10px;
    right: 10px;
    z-index: 1; /* Asegura que el icono esté encima de la imagen principal */
}

.icon-overlay:hover {
    /* Estilos adicionales cuando el cursor se encuentra sobre el icono */
    /* Por ejemplo, cambiar el color o la opacidad */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen al pasar el mouse */
    opacity: 0.9;
}
.plant img {
    max-width: 100%;
    align-items: center;
    height: auto;
    object-fit: cover; /* Asegurar que la imagen cubra todo el contenedor */
    object-position: center; /* Centrar la imagen dentro del contenedor */
    transition: transform 0.3s ease; /* Suaviza la transformación */
    /* margin-top: 1%; 
    margin-bottom: 1%; 
    margin-left: 1%; 
    margin-right: 1%;  */
}
.plant a:hover img {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen al pasar el mouse */
    opacity: 0.9;

}
.plant-info {
    padding: 15px;
    text-align: center;
}
.plant-name {
    font-size: 1.em;
    margin-bottom: 3px;
}
.plant-description {
    font-size: .7em;
    /* color: #000 ; */
    color: #555;
    padding: 5px;
    margin-bottom: 1px;
}

.plant-bid {
    font-size: .85em;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 1px;
}